# Exclude json, csv, and hdf5 files
*.csv
*.json
*.hdf5

# Exclude everything in the sampledata folder
sampledata/
sampledata/test/

# Exclude egg-info and build folders
build/
latencyconverter.egg-info/